@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    font-family: "Yu Gothic", "Meiryo", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3","Source Han Sans JP","Arial", sans-serif ;
    line-height: 1.7;
}
a {
    text-decoration: none;
}
p {
    font: normal normal normal 16px/40px Source Han Sans JP;
}
:root {
    --fs036: 36px;
    --fs030: 30px;
    --fs028: 28px;
    --fs024: 24px;
    --fs020: 20px;
    --fs018: 18px;
    --fs016: 16px;
    --fs014: 14px;
    --fs012: 12px;
}


/*共通部分--------------------------------------------------------------*/
.commonWidth {
    position: relative;
    max-width: 85vw;
    margin:  0 auto;
    background-position: top right;
}
.title {
    color: #000;
    text-transform: uppercase;
    font-size: var(--fs036);
    font-family: 'Caveat', cursive;
}
.about-inner {
    padding-top: 130px;
}
.works-inner, .artist-inner, .blog-inner {
    padding-top: 100px;
}
/*menubtn---------------------------------------------------*/
.menu {
    position: fixed;
    right: -30%;
    width: 30%;
    height: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    color: #3b3b3b;
    background-color: rgba(255, 0, 0);
    transition: .3s;
    text-transform: uppercase;
    z-index: 50;
    font-size: var(--fs020);
  }
.menu-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.menu-list a {
    font-size: var(--fs020);
    color: #fff;
}
.btn {
    position: fixed;
    top: 32px;
    right: 16px;
    width: 45px;
    height: 45px;
    z-index: 100;
  }
.btn-line {
	display: block;
	position: relative;  /* バーガー線の位置基準として設定 */
	width: 100%;  /* 線の長さと高さ */
	height: 4px;
	background-color: #e60000;  /* バーガー線の色 */
	transition: .2s;
}
/****** 上下のバーガー線 *****/
.btn-line::before,
.btn-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e60000;
  transition: .5s;
  left: 0;
}
.btn-line::before {
  transform: translateY(-16px);
}
.btn-line::after {
  transform: translateY(16px);
}
.menu.open {
    right: 0;
  }
  .btn-line.open {
	background-color: transparent;  	/* 真ん中の線を透明に */
}
.btn-line.open::before ,
.btn-line.open::after {
	content: "";
	background-color: #fff;  /* 上下の線の色を変える */
	transition: .2s;
}
.btn-line.open::before {
	transform: rotate(45deg);  /* 上の線を傾ける */
}
.btn-line.open::after {
	transform: rotate(-45deg);  /* 下の線を傾ける */
}
/*スライダー*/
.slide_contener_hero .swiper-initialized .swiper-horizontal .swiper-pointer-events {
    position: relative;
}
.slide_contener_hero {
    overflow: hidden;
}
.slide_item img {
	width: inherit;
	height: inherit;
	object-fit: cover;
    object-position:100% 10%;
}
.slide_item {
    height: 75vh;
    width: 100%;
}
.swiper-pagination {
    top: 77vh;
}

/*about
----------------------------------------*/
#about {
    background-image: url(../sample/zukyun.png),url(../sample/dododo.png);
    background-position: bottom  left, top right;
}
.about-inner {
    display: flex;
}
.about-inner img {
    width: 45vw;
}
.about-txt {
    margin-left: 45px;
}
.about-txt p {
    margin-top: 4rem;
    overflow: hidden;
}

/*blog---------------------------------------------------------*/
#blog {
    background-image: url(../sample/gyuiiin.png),url(../sample/kin.png);
    background-position: bottom -20% left,top left 40%;
}
.blog-inner {
    display: flex;
    margin-top: 204px;
    position: relative;
}
.blog-txt {
    width: 30vw;
    position: relative;
}
.blog-txt p {
    width: 25vw;
    margin-top: 5rem;
}
.news-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    overflow: hidden;
    width: 55vw;
}
.news {
    margin-left: 3rem;
    margin-bottom: 3rem;
}

/*works------------------------------------------------------------------*/
#works {
    background-image: url(../sample/kyupin.png),url(../sample/powawan.png);
    background-position: left bottom,center top -20%;
}
.works-inner {
    display: flex;
    position: relative;
    justify-content: center;
}
.works-main {
    position: relative;
    margin-left: 5rem;
    background-color:rgb(255, 255, 255,0.5);
}
.works-item h5 {
    margin-top: 3rem;
}
.works-item h5, .works-item p {
    display: block;
    text-align: left;
}
.works-item p{
    height: 150px;
    overflow-y: auto;
    line-height: 1.5;
}


/*works-slide*/
.works-slide .swiper-initialized .swiper-horizontal .swiper-pointer-events {
    position: relative;
}
.works-slide {
    overflow: hidden;
}
.swiper-container {
    width: 435px;
    height: inherit;
}
.works-item {
    position: relative;
}
.works-item a {
    display: inline-block;
    position: absolute;
    background:rgba(0, 0, 0, 0.5);
    opacity: 0;
    width: 435px;
    height: inherit;
    transition: 0.3s;
    text-align: center;
    line-height: 595px;
    font-size: var(--fs024);
    color: white;
    align-items: center;
}

.works-item img {
	width: inherit;
    height: inherit;
	object-fit: cover;
}
.works-item:hover a {
    opacity: inherit;
}
.works-item a:hover {
    opacity: inherit;
    cursor: pointer;
}


/*artist-----------------------------------------------------------------------------*/
#artist {
    background-image: url(../sample/syakin.png),url(../sample/zi.png);
    background-position: top right,top 30% left;
}
.artist-inner {
    margin: 0 auto;
    position: relative;
}
.artist-inner .title {
    text-align: center;
}
#artist img{
    width: 100%;
}
.artistList {
    margin: 0 auto;
    position: relative;
    align-items: flex-end;
    padding-bottom:50px ;
}
.artistList th, .artistList td {
    padding: 0.5rem;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    text-align: inherit;
}
td {
    table-layout: unset;
    text-align: left;
}
/*button--------------------------*/
a.button {
    display: block;
    height: 50px;
    width: 190px;
    background: #fff;
    color: #000;
    border: solid 1px #e60000;
    transition: all .05s;
    position:absolute;
    text-align: center;
    line-height: 50px;
}
a.button:hover {
    cursor: pointer;
}
.footer-btn a:hover,a.fas:hover {
    color: #fff;
    background-color: #e60000;
    cursor: pointer;
}
a.about-btn, a.blog-btn {
    right: 0;
    font-family: 'Caveat', cursive;
    margin-top: 5rem;
    
}
a.works-btn{
    right: 0;
    font-family: 'Caveat', cursive;
    bottom: 0;
    cursor: pointer;
}
.fas {
    color: #e60000;
    margin-left: 1rem;
}
/*フッター
----------------------------------------------------*/
footer {
    background-color: rgb(85, 85, 85);
    text-align: center;
    padding: 20px 0;
    position: relative;
}
.footer-inner {
    display:flex;
    justify-content: space-around;
}
.contact {
    text-align: left;
    width: 40vw;
}
.contact .title {
    padding-bottom: 30px;
}
.footer-contact {
    color: rgb(255, 255, 255);
    font-size: var(--fs014);
    margin-bottom: 25px;
}
p.text-light {
    line-height: 1.8;
}
.footer-link {
    padding-top: 165px;
    width: 40vw;
}
.footer-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-btn a {
    height: 45px;
    width: 245px;
    border-radius: 20px;
    line-height: 45px;
    color: #000;
    border: solid 1px #e60000;
    transition: all .05s;
    margin-bottom: 40px;
    background-color: #fff;
    font-weight: bold;
}
.copyright {
    bottom: 0; right: 0;
    text-align: left;
}

@media (max-width:1024px) {
    .about-inner, .blog-inner, .works-inner{
        flex-direction: column;
        width: 80vw;
    }    
    .about-inner img {
        width: 100%;
    }
    .about-txt {
        margin: 0;
    }
    /*blog*/
    .blog-txt, .blog-txt p {
        width: 100%;
    }
    .news-inner {
        width: 100%;
        margin-top: 5rem;
        justify-content: space-around;
        height: fit-content;
    }
    .news {
        margin-left: auto;
    }
    /*works*/
    .works-main {
        margin: auto;
        width: fit-content;
    }
    .works-main .title {
        align-items: center;
    }
    .works-inner {
        padding: 0;
    }
    .works-inner img {
        display: block;
        margin:0 auto ;
    }
    a.works-btn {
        bottom: auto;
    }
    a.about-btn, a.blog-btn {
        margin-top: 1rem;
    }
    .works-item h5, .works-item p {
        margin-top: 0.25rem;
    }
    .works-item p {
        height: 85px;
        font-size: 14px;
    }
    .artistList {
        margin-left: 0;
        width: 100%;
    }
    .artistList th, .artistList td {
        padding: 0.25rem;
    }
    .artistList th {
		display: none;
    }
    .artistList td {
		display: block;
		width: 100%;
	}
    .artistList td:nth-child(2), .artistList td:nth-child(3) {
		display: inline-block;
		width: auto;
    }
    .artistList td:nth-child(2):after {
		content: "|";
		padding-left: 1rem;
	}
	.artistList td:nth-child(1):before {
		content: "#";
	}	
	.artistList td:last-child {
		margin-bottom: 2em;
		border-bottom: 1px solid #000;
		padding-bottom: 1em;
	}
}
@media (max-width:599px){
    p {
        font-size: var(--fs014);
    }
    .title {
        font-size: var(--fs024);
    }

    body{
        line-height: 1.5;
    }
    .menu {
        right:-100%;
        width: 100%;
        height: 75vh;
    }
    .about-inner, .blog-inner, .works-inner, .artist-inner {
        padding-top: 80px;
    }
    .about-txt p, .blog-txt p {
        margin-top: 1rem;
    }
    .news-inner {
        flex-wrap: nowrap;
    }
    .swiper-container {
        width: 80vw;
    }
    .works-main {
        margin-top: -40px;
        z-index: 10;
    }
    .works-item h5 {
        font-size: 9px;
    }
    .works-item h2 {
        font-size: var(--fs016);
    }
    .works-item h3 {
        font-size: var(--fs014);
    }
    a.button {
        width: 100%;
    }
    /* fooer----------------------------- */
    .footer-main {
        max-width: 100vw;
    }
    .contact .title {
        color: #fff;
        padding-bottom: 0px;
    }
    .contact {
        width: 85vw;
        margin: 0 auto;
    }
    .footer-inner {
        flex-direction: column;
    }
    .footer-contact {
        border-bottom: 1px solid #fff;
    }
    .text-light {
        font-size: var(--fs016);
        font-weight: normal;
    }
    .footer-link {
        width: 100%;
        padding-top: 0px;
    }
    .footer-btn a {
        width: 100%;
        height: 60px;
        margin: 0.5rem;
        text-align: left;
        padding-left: 1rem;
        line-height: 60px;
    }
    .copyright {
        text-align: center;
    }
}

